<h1>Edit Here!</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    @if (visible) {
        <tbody>
            <tr class="table-active">
              <th scope="row"><input type="title" [(ngModel)]="newTask.title"></th>
              <td><input type="text" [(ngModel)]="newTask.description"></td>
              <td><input type="text" [(ngModel)]="newTask.dueDate"></td>
              <td><div>
                  <select class="form-select" [(ngModel)]="newTask.status">
                    <option>Pending</option>
                    <option>In Progress</option>
                    <option>Completed</option>
                  </select>
                </div></td>
              <td><div>
                <select class="form-select" [(ngModel)]="newTask.priorityLevel">
                  <option>Low</option>
                  <option>Medium</option>
                  <option>High</option>
                </select>
              </div></td>
              <td><button type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button></td>
              <td><button type="button" class="btn btn-primary" (click)="onDelete()">Delete</button></td>
            </tr>
          </tbody>
    }@else if (!visible && deleted) {
            <p>No tasks o3o</p>
    }@else {
        <tbody>
            <tr class="table-active">
                <th scope="row">{{newTask.title}}</th>
                <td>{{newTask.description}}</td>
                <td>{{newTask.dueDate}}</td>
                <td>{{newTask.status}}</td>
                <td>{{newTask.priorityLevel}}</td>
                <td><button type="button" class="btn btn-primary" (click)="onEdit()">Edit</button></td>
                <td><button type="button" class="btn btn-primary" (click)="onDelete()">Delete</button></td>
            </tr>
        </tbody>
    }

    
        
</table>